<section class="header">
    <nav>
      <ul>
        <div class="actions">
          <li><a (click)="triggerNoteList($event)" href="_blank"><i class="fa fa-bars"></i></a></li>
          <li><a (click)="triggerActions($event,'add')" href="_blank"><i class="fa fa-plus-square"></i></a></li>
          <li><a (click)="triggerActions($event,'delete')" href="_blank"><i class="fa fa-trash"></i></a></li>
          <li><h5 class="title">Notes App</h5></li>
          <!-- <li><a (click)="triggerActions($event,'lock')" href="_blank"><i class="fa fa-lock"></i></a></li> -->
          <!-- <i class="fa fa-lock-open"></i> -->
        </div>
        
        
      </ul>
    </nav>
</section>
