<section class="header">
    <nav>
      <ul>
        <div class="actions">
          <li><a (click)="triggerNoteList($event)" href="_blank"><i class="fa fa-bars"></i></a></li>
          <li><a (click)="triggerActions($event,'add')" href="_blank"><i class="fa fa-plus-square"></i></a></li>
          <li><a (click)="triggerActions($event,'delete')" href="_blank"><i class="fa fa-trash"></i></a></li>
          <li><a (click)="triggerActions($event,'edit')" href="_blank"><i class="fa fa-edit"></i></a></li>
        </div>
        <div class="search">
          <li><input type="text" placeholder="search"/></li>
        </div>
        
      </ul>
    </nav>
</section>
