.header{
    position: absolute;
    width: 100%;
    padding: 1rem;
    background-color: #09161752;
}
ul {
    list-style: none;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li{
    
    padding: 1rem;
}
li input{
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    outline: none;
}
.actions{
    flex: 3 3 20rem;
    display: flex;
}
.actions li{
    flex: 1 1 20rem;
}


@media only screen and (max-width: 800px){
    .header{
        padding: 0rem;
    }
    .title{
        font-size:1.5rem;
    }
}


