<section class="sidebar">
    <div class="sidebarContent">
      <div  class="search">
        <input type="text" (keyup)="searchNotes($event)" placeholder="search with min 2 char"/>
        <span class="defaultText" *ngIf="notes.length === 0">No Notes In the List</span>
      </div>
      
        <ul>
          <li [class.active]="note.id === selectedNote" (click)="noteClicked($event,note)" class="notesList" *ngFor="let note of notes">
              <h4>{{readTitle(note.text)}}</h4>
              <div class="noteDetails">
                <span class="noteText">{{readDate(note.lastEdited)}}  -  {{readTitle(note.text)}}</span>&nbsp;
              </div>
          </li>
        </ul>
    </div>
</section>
