.sidebar{
        height: 100%;
        overflow-y: auto;
        background: linear-gradient(#4da2a7, #b5e6d6);
}
.sidebarContent{
    flex: 1;
}
.sidebarContent ul{
    padding: 2rem;
}
.notesList{
    padding: 1rem;
}
.noteText{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:20rem;
    display:inline-block;
}

ul{
    list-style: none;
}
.noteDetails{
    font-size: 1.6rem;
    padding-top: 1rem;
}
li{
    border-bottom: 2px dotted #585757;
    cursor: pointer;
}
li h4{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 20rem;
    display: inline-block;
}
li:hover,li:active,li:focus,li.active {
    background-color: #09161752;
}

.search{
    flex: 3 3 20rem;
    text-align: center;
}
input{
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    outline: none;
    margin-top:1rem ;
}

@media only screen and (max-width: 600px) {
    .sidebar{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
